/*!
 * @copyright Copyright (c) 2023, DERACHE Adrien a.d44@tuta.io
 */

ion-button ion-icon {
  margin-right: 5px;
}

.badge {
  position: absolute;
  display: block;
  padding: 0;
  bottom: 8px;
  left: 12px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: var(--ion-color-primary);
  outline: 2px solid white;
}

@media (prefers-color-scheme: dark) {
  .badge {
    outline-color: var(--ion-background-color);
  }
}

.scroll-x {
  flex-wrap: nowrap;
  overflow-x: scroll !important;
  overflow-y: hidden;
}

ion-modal {
  --height: auto;
}
