<!--
  ~ @copyright Copyright (c) 2023, DERACHE Adrien a.d44@tuta.io
  -->

<!--seasonal Vegetables -->
<ion-card-header>
  <ion-card-title>
    <strong>{{ "TAB1.subtitle1" | translate }}</strong>
  </ion-card-title>
</ion-card-header>

<ion-grid class="seasonalVegetableTour">
  <ion-row class="scroll-x">
    <ion-col
      *ngFor="let vegetable of seasonalVegetables"
      size="4"
      size-lg="1"
      size-md="2"
      size-sm="3">
      <app-vegetable-item
        (vegetableSelected)="onVegetableSelected(vegetable)"
        [vegetable]="vegetable">
      </app-vegetable-item>
    </ion-col>
  </ion-row>
</ion-grid>

<!--All vegetables-->
<ion-card-header>
  <ion-card-title>
    <strong>{{ "TAB1.subtitle2" | translate }}</strong>
  </ion-card-title>
</ion-card-header>

<ion-button
  (click)="onChangeAlphabeticOrder()"
  class="ion-margin-start"
  color="dark"
  fill="clear">
  <ion-icon name="swap-vertical-outline"></ion-icon>
  <span *ngIf="vegetableView === 'ascending'">A-Z</span>
  <span *ngIf="vegetableView === 'descending'">Z-A</span>
</ion-button>

<ion-button color="dark" fill="clear" id="open-modal">
  <ion-icon name="filter-outline"></ion-icon>
  <div *ngIf="isDefaultTypesChanged" class="badge"></div>
  {{ "TAB1.filter" | translate }}
</ion-button>

<ion-modal [breakpoints]="[0, 1]" initial-breakpoint="1" trigger="open-modal">
  <ng-template>
    <ion-grid class="ion-margin">
      <ion-row>
        <ion-col>
          <ion-text>
            <h4 style="color: var(--ion-color-dark)">
              {{ "TAB1.filter" | translate }}
            </h4>
          </ion-text>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col *ngFor="let type of types[0]" size="auto">
          <ion-chip
            (click)="onSwitch(type, 0)"
            [outline]="!typesSelected[0].includes(type)"
            color="secondary">
            <ion-label color="dark">{{
              "TAB1.types." + type | translate
            }}</ion-label>
          </ion-chip>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <h4 style="color: var(--ion-color-dark)">
            {{ "TAB1.vegetableFilter" | translate }}
          </h4>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col *ngFor="let type of types[1]" size="auto">
          <ion-chip
            (click)="onSwitch(type, 1)"
            [outline]="!typesSelected[1].includes(type)"
            color="warning">
            <ion-label color="dark">{{
              "TAB1.types." + type | translate
            }}</ion-label>
          </ion-chip>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ng-template>
</ion-modal>
<ion-grid class="allVegetableTour">
  <ion-row class="ion-justify-content-evenly">
    <ion-col
      *ngFor="let vegetable of vegetablesFiltered"
      size="4"
      size-lg="1"
      size-md="2"
      size-sm="3">
      <app-vegetable-item
        (vegetableSelected)="onVegetableSelected(vegetable)"
        [ngClass]="vegetable.id === 'beetroot' && 'vegetableDetailTour'"
        [vegetable]="vegetable">
      </app-vegetable-item>
    </ion-col>
  </ion-row>
</ion-grid>
