<!--
  ~ @copyright Copyright (c) 2023, DERACHE Adrien a.d44@tuta.io
  -->

<app-loading *ngIf="isLoading"></app-loading>
<ion-toolbar *ngIf="!isLoading && !!gardenSelected">
  <app-header [gardenSelected]="gardenSelected"></app-header>
</ion-toolbar>

<ion-content *ngIf="!isLoading" [fullscreen]="false">
  <ng-template [ngIf]="!gardenSelected">
    <div style="height: 100%; display: flex; align-items: center">
      <ion-grid class="ion-text-center">
        <ion-row class="ion-justify-content-center">
          <ion-col size="9" size-md="6" size-sm="8" size-xl="3">
            <ion-img
              class="mx-auto d-block"
              src="{{
                isDarkModeEnable
                  ? './assets/images/get-started_black.svg'
                  : './assets/images/get-started.svg'
              }}">
            </ion-img>
          </ion-col>
          <ion-col size="10">
            <h2>{{ "TAB2.welcome" | translate }}</h2>
          </ion-col>
        </ion-row>
        <ion-row class="ion-justify-content-center">
          <ion-col size="11">
            <ion-text>
              {{ "TAB2.gettingStarted" | translate }}
            </ion-text>
          </ion-col>
        </ion-row>
        <ion-row class="ion-justify-content-center">
          <ion-col size="10" size-lg="5" size-md="8" size-xl="3">
            <ion-button
              (click)="addGarden()"
              class="getStartedTour"
              expand="block">
              {{ "TAB2.addGarden" | translate }}
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </ng-template>

  <app-canvas *ngIf="!!gardenSelected"></app-canvas>

  <!-- fab placed to the bottom end -->
  <ion-fab
    *ngIf="!!gardenSelected"
    horizontal="end"
    slot="fixed"
    vertical="bottom">
    <ion-fab-button (click)="onGardenActions()" color="primary">
      <ion-icon name="build-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <!--              For debug ONLY, wipe alle the DB-->
  <ion-fab
    *ngIf="!environment.production"
    horizontal="end"
    slot="fixed"
    vertical="top">
    <ion-fab-button (click)="resetStorage()" color="danger">
      <ion-icon name="trash-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
