<!--
  ~ @copyright Copyright (c) 2023, DERACHE Adrien a.d44@tuta.io
  -->

<ion-content>
  <ion-grid class="ion-text-center ion-margin-top">
    <ion-row>
      <ion-col>
        <ion-img class="icon" src="../../assets/images/MyGarden.png"> </ion-img>
        <h2>MyGarden</h2>
        <h6>GPLv3</h6>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <ion-col size="4" size-lg="1" size-md="2">
        <a href="https://twitter.com/MyGarden_FR">
          <ion-icon
            class="rounded mx-auto d-block"
            color="secondary"
            name="logo-twitter"
            size="large"></ion-icon>
        </a>
      </ion-col>
      <ion-col size="4" size-lg="1" size-md="2">
        <a href="https://mastodon.social/@MyGarden">
          <ion-icon
            class="rounded mx-auto d-block"
            color="tertiary"
            name="logo-mastodon"
            size="large"></ion-icon>
        </a>
      </ion-col>
      <ion-col size="4" size-lg="1" size-md="2">
        <a href="https://gitlab.com/m9712">
          <ion-icon
            class="rounded mx-auto d-block"
            color="warning"
            name="logo-gitlab"
            size="large"></ion-icon>
        </a>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid class="ion-no-margin ion-no-padding">
    <ion-row class="ion-justify-content-center">
      <ion-col size="12" size-lg="4" size-md="6">
        <ion-accordion-group>
          <!--Language-->
          <ion-accordion>
            <ion-item slot="header">
              <ion-icon
                color="tertiary"
                name="language-outline"
                slot="start"></ion-icon>
              <ion-label>{{ 'TAB3.language' | translate }}</ion-label>
            </ion-item>
            <ion-list class="d-flex" lines="none" slot="content">
              <ion-radio-group
                (ionChange)="onSwitchLanguage($event)"
                [value]="selectedLanguage"
                allow-empty-selection="false"
                class="w-100"
                name="radio-group">
                <ion-item>
                  <ion-radio justify="start" labelPlacement="end" value="en">
                    English
                  </ion-radio>
                </ion-item>

                <ion-item>
                  <ion-radio justify="start" labelPlacement="end" value="fr">
                    French
                  </ion-radio>
                </ion-item>
              </ion-radio-group>
            </ion-list>
          </ion-accordion>

          <!--Thank to-->
          <ion-accordion>
            <ion-item slot="header">
              <ion-icon
                color="success"
                name="heart-outline"
                slot="start"></ion-icon>
              <ion-label> {{ 'TAB3.acknowledgements' | translate }} </ion-label>
            </ion-item>
            <ion-list lines="none" slot="content">
              <h5 class="ion-text-center">
                {{ 'TAB3.acknowledgementsMessage1' | translate }}
              </h5>
              <ion-item>
                <ion-button
                  fill="none"
                  href="https://www.freepik.com"
                  style="text-transform: none"
                  >Freepik
                </ion-button>
              </ion-item>
              <ion-item>
                <ion-button
                  fill="none"
                  href="https://www.flaticon.com/authors/icongeek26"
                  style="text-transform: none"
                  >icongeek26
                </ion-button>
              </ion-item>
              <ion-item>
                <ion-button
                  fill="none"
                  href="https://www.flaticon.com/authors/zaenul-yahya"
                  style="text-transform: none">
                  Zaenul Yahya
                </ion-button>
              </ion-item>
              <ion-list>
                <h5 class="ion-text-center">
                  {{ 'TAB3.acknowledgementsMessage2' | translate }}
                </h5>
                <ion-item>
                  <ion-button
                    fill="none"
                    href="https://twitter.com/ninaLimpi"
                    style="text-transform: none">
                    Katerina Limpitsouni (unDraw)
                  </ion-button>
                </ion-item>
                <ion-item>
                  <ion-button
                    fill="none"
                    href="https://www.editionsleduc.com/produit/2087/9791028516901/ma-bible-de-la-permaculture"
                    style="text-transform: none">
                    "Ma bible de la permaculture", de Blaise Leclerc <br />
                    aux éditions Leduc
                  </ion-button>
                </ion-item>
                <ion-item>
                  <ion-button
                    fill="none"
                    href="https://github.com/Ilade-s"
                    style="text-transform: none">
                    Ilade-s
                  </ion-button>
                </ion-item>
                <ion-item>
                  <ion-button
                    fill="none"
                    href="https://linkr.bio/Xsixel"
                    style="text-transform: none">
                    Burnier Alexis
                  </ion-button>
                </ion-item>
                <ion-item>
                  <ion-button
                    fill="none"
                    href="https://linkedin.com/in/loëvan-le-gac"
                    style="text-transform: none">
                    Loëvan LE GAC
                  </ion-button>
                </ion-item>
              </ion-list>
            </ion-list>
          </ion-accordion>

          <!--How to contribute-->
          <ion-accordion>
            <ion-item slot="header">
              <ion-icon
                color="warning"
                name="podium-outline"
                slot="start"></ion-icon>
              <ion-label>{{ 'TAB3.howToContribute' | translate }}</ion-label>
            </ion-item>
            <ion-list lines="none" slot="content">
              <ion-item>
                <ion-icon
                  color="warning"
                  name="star-outline"
                  slot="start"></ion-icon>
                <ion-button
                  fill="none"
                  href="https://play.google.com/store/apps/details?id=fr.bugprogEnterprise.mygarden"
                  style="text-transform: none">
                  {{ 'TAB3.reviewApp' | translate }}
                </ion-button>
              </ion-item>
              <ion-item>
                <ion-icon
                  color="danger"
                  name="alert-circle-outline"
                  slot="start"></ion-icon>
                <ion-button
                  fill="none"
                  href="https://gitlab.com/BugProg/mygarden/-/issues"
                  style="text-transform: none">
                  {{ 'TAB3.reportProblem' | translate }}
                </ion-button>
              </ion-item>
              <ion-item>
                <ion-icon
                  color="success"
                  name="cash-outline"
                  slot="start"></ion-icon>
                <ion-button
                  fill="none"
                  href="https://liberapay.com/MyGarden"
                  style="text-transform: none">
                  {{ 'TAB3.makeDonation' | translate }}
                </ion-button>
              </ion-item>
              <ion-item>
                <ion-icon
                  color="tertiary"
                  name="flash-outline"
                  slot="start"></ion-icon>
                <ion-button
                  fill="none"
                  href="https://discord.gg/2DEknW8rZa"
                  style="text-transform: none">
                  {{ 'TAB3.improvementIdea' | translate}}
                </ion-button>
              </ion-item>
            </ion-list>
          </ion-accordion>

          <!--Send a message-->
          <ion-accordion>
            <ion-item slot="header">
              <ion-icon
                color="tertiary"
                name="chatbubbles-outline"
                slot="start"></ion-icon>
              <ion-label>Discussion</ion-label>
            </ion-item>
            <ion-list lines="none" slot="content">
              <ion-item>
                <ion-icon
                  slot="start"
                  src="../../assets/icon/discord.svg"></ion-icon>
                <ion-button
                  fill="none"
                  href="https://discord.gg/CTVrrCa2YQ"
                  style="text-transform: none">
                  Discord
                </ion-button>
              </ion-item>
              <ion-item>
                <ion-icon
                  slot="start"
                  src="./assets/icon/matrix-logo-white.svg"></ion-icon>
                <ion-button
                  fill="none"
                  href="https://matrix.to/#/#MyGarden:matrix.org"
                  style="text-transform: none">
                  Matrix
                </ion-button>
              </ion-item>
            </ion-list>
          </ion-accordion>
        </ion-accordion-group>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
