/*!
 * @copyright Copyright (c) 2023, DERACHE Adrien a.d44@tuta.io
 */

.icon {
  width: 50vw;
  height: auto;
  max-width: 10em;
  padding: 1.5em;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.social-label ion-icon {
  width: 50px;
  height: 50px;
  margin-bottom: 20px;
}

@media (prefers-color-scheme: dark) {
  .card-body {
    background-color: #1e2023;
  }
  .card {
    border: none;
  }
}
