/*!
 * @copyright Copyright (c) 2023, DERACHE Adrien a.d44@tuta.io
 */

.box {
  margin: 20px 5px 0px 5px;
  border-radius: 20px;
  padding: 10px;
}

.purple-color {
  color: white;
  background-color: #382040;
}

.blue-color {
  color: white;
  background-color: #134683;
}

.orange-color {
  color: white;
  background-color: #cfb11b;
}

.green-color {
  color: white;
  background-color: #0ba520;
}

.quickItem {
  display: flex;
  align-items: center;
  padding: 1em;
  border-radius: 15px;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
}

.quickItem ion-icon:not([name="chevron-forward"]) {
  margin-right: 15px;
}

.quickItem ion-icon[name="chevron-forward"] {
  position: absolute;
  right: 10px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  padding: 7px;
}
