/*!
 * @copyright Copyright (c) 2023, DERACHE Adrien a.d44@tuta.io
 */

/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
//noinspection CssUnknownTarget
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

@font-face {
  font-family: "Qranklestein";
  font-style: normal;
  font-weight: normal;
  src: url("./assets/fonts/Bebas_Neue/BebasNeue-Regular.ttf");
}

@font-face {
  font-family: "Metropolis";
  font-style: normal;
  font-weight: bold;
  src: url("./assets/fonts/metropolis.bold.otf");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: normal;
  src: url("./assets/fonts/Inter.ttf");
}

ion-input,
ion-textarea {
  --highlight-color-focused: var(--ion-color-primary) !important;
  --highlight-color-valid: var(--ion-color-primary) !important;
}

.shadow-sm {
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
}

// Custom shepherd css
.shepherd-text {
  padding: 25px !important;
}

.shepherd button {
  background: var(--ion-color-primary) !important;
  border-radius: 3px;
  color: #fff;
  font-weight: bold;
  font-size: 0.8em;
  transition: none;
  padding: 1em;
}

.shepherd.shepherd-element {
  visibility: visible;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 3px 30px rgba(33, 33, 33, 0.3);
  transition: opacity 0.1s ease-out;
}
